<div class = "container">
    <div class="header">
        <img class = "logo" src="./assets/img/logobutterfly.png" alt="logo">
        <h3 class = "name"> Farachat </h3>
    </div>
    <ul class = "dumb-menu">
        <li><a href = # class = "white-dumb-menu-link"> Home </a></li>
        <li><a href = # class = "white-dumb-menu-link"> Species </a></li>
        <li><a href = # class = "white-dumb-menu-link"> Gallery </a></li>
        <li><a href = # class = "white-dumb-menu-link"> Pricing </a></li>
        <li><a href = #  class = "dark-dumb-menu-link">Join Waitlist</a></li>
    </ul>
</div>